@import 'variables';
.person-card {
    text-decoration: none;
    .person-image {
        padding: 10px;
        border: 1px solid darken($white, 20%);
        box-shadow: 0 0 4px 2px darken($primary, 20%), inset 0 0 3px 1px darken($primary, 20%);
        transition: all .2s;
        border-radius: 60px;
        width: 120px;
        height: 120px;
        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 50px;
        }
    }
    .person-name {
        text-align: center;
        transition: all .2s;
        padding-top: .5rem;
        color: darken($white, 20%);
        letter-spacing: 1px;
    }
    &:hover {
        .person-image {
            border-color: $white;
            box-shadow: 0 0 4px 2px $primary, inset 0 0 3px 1px $primary;
            transition: all .2s;
        }
        .person-name {
            transition: all .2s;
            color: $white;
        }
    }
}