@import 'variables';
@import 'mixins';

.container {
    position: relative;
    .people-list {
        @include d-grid(120px);
        gap: 1.5rem;
        row-gap: 3rem;
        margin-top: -30px;
    }
}