<section id="homepage-banner">
    <div class="main-banner">
        <app-banner [banners]="banners"></app-banner>
    </div>
</section>
<section id="homepage-about">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-1">
                <img class="logo-img" src="assets/images/star-wars-logo.png" alt="Star Wars">
            </div>
            <div class="col-md-6 pt-4">
                <p>
                    Star Wars is an American epic space opera media franchise 
                    created by George Lucas, which began with the eponymous 1977 film 
                    and quickly became a worldwide pop culture phenomenon. 
                    The franchise has been expanded into various films and other media, 
                    including television series, video games, novels, comic books, 
                    theme park attractions, and themed areas, comprising an all-encompassing 
                    fictional universe. 
                    <strong>
                        Star Wars is one of the highest-grossing media 
                        franchises of all time.
                    </strong>
                </p>
            </div>
        </div>
    </div>
</section>