<app-page-title background="assets/images/starships/title-background.gif">
    Starships
</app-page-title>
<div class="container">
    @if (starships && !loading) {
        <div class="list starship-list">
            @for (starship of starships; track $index) {
                <app-starship-card [starship]="starship" [page]="pageControl.page" [index]="$index"></app-starship-card>
            } @empty {
                no entries found...
            }
        </div>
        @if (pageControl.count > 10) {
            <app-pagination [pageControl]="pageControl" (goPage)="goToPage($event)"></app-pagination>
        }
    } @else {
        <app-loading></app-loading>
    }
</div>