<app-page-title background="assets/images/starships/title-background.gif">
    Starships
</app-page-title>
<div class="container">
    @if (starships && !loading) {
        <div class="list starship-list">
            @for (card of cards; track $index) {
                <app-card [cardData]="card" [page]="pageControl.page" [id]="card.id"></app-card>
            } @empty {
                no entries found...
            }
        </div>
        @if (pageControl.count > 10) {
            <app-pagination [pageControl]="pageControl" (goPage)="goToPage($event)"></app-pagination>
        }
    } @else {
        <app-loading></app-loading>
    }
</div>