@import "mixins";
.species-card {
    text-decoration: none;
    .species-image {
        width: 200px;
        height: 240px;
        img {
            width: 180px;
            height: 220px;
            @include responsive(max-sm) {
                width: 100%;
                height: auto;
            }
        }
        @include responsive(max-sm) {
            width: 100%;
            height: auto;
        }
    }
}