<app-page-title [background]="'assets/images/films/title-background.gif'">
    Films
</app-page-title>
<div class="container">
    @if (films && !loading) {
        <div class="list film-list">
            @for (card of cards; track $index) {
                <app-card [cardData]="card" [page]="pageControl.page" [index]="$index"></app-card>
            } @empty {
                no entries found...
            }
        </div>
        @if (pageControl.count > 10) {
            <app-pagination [pageControl]="pageControl" (goPage)="goToPage($event)"></app-pagination>
        }
    } @else {
        <app-loading></app-loading>
    }
</div>