@import 'variables';

.pagination {
    margin: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    .arrow {
        color: $nav-color;
        cursor: pointer;
        font-size: 16px;
        background: transparent;
        border: 0;
        &:hover {
            color: $white;
        }
        &:disabled {
            opacity: .6;
            color: $white;
        }
    }
    .page-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        margin: 0 16px;
        .page-item {
            cursor: pointer;
            width: 6px;
            height: 6px;
            border: 1px solid $nav-color;
            border-radius: 3px;
            margin: 0 4px;
            &:hover {
                border-color: $primary;
                background-color: $primary;
            }
            &.active {
                background-color: $white;
                border-color: $white;
                width: 16px;
            }
        }
    }
}