@import 'mixins';
@import 'variables';

.title-background {
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: cover;
    position: relative;
    .container {
        position: relative;
        z-index: 1;
        h1 {
            letter-spacing: 2px;
            color: $white;
            font-weight: 300;
            text-transform: uppercase;
            @include responsive(max-md) {
                letter-spacing: 4px;
                text-align: center;
                font-size: 42px;
            }
        }
    }
    &::after {
        @include pseudo;
        width: 100%;
        height: 100%;
        background: #151A2446;
        bottom: 0;
    }
    &::before {
        @include pseudo;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, #151A24, #151A2400);
        bottom: 0;
    }
}