<app-page-title background="assets/images/species/title-background.gif">
    Species
</app-page-title>
<div class="container">
    @if (species && !loading) {
        <div class="list species-list">
            @for (card of cards; track $index) {
                <app-card [cardData]="card" [page]="pageControl.page" [index]="$index"></app-card>
            } @empty {
                <div>no entries found</div>
            }
        </div>
        @if (pageControl.count > 10) {
            <app-pagination [pageControl]="pageControl" (goPage)="goToPage($event)"></app-pagination>
        }
    } @else {
        <app-loading></app-loading>
    }
</div>