<app-page-title background="assets/images/vehicles/title-background.gif">
    Vehicles
</app-page-title>
<div class="container">
    @if (vehicles && !loading) {
        <div class="list vehicle-list">
            @for (card of cards; track $index) {
                <app-card [cardData]="card" [page]="pageControl.page" [index]="$index"></app-card>
            } @empty {
                no entries found...
            }
        </div>
        @if (pageControl.count > 10) {
            <app-pagination [pageControl]="pageControl" (goPage)="goToPage($event)"></app-pagination>
        }
    } @else {
        <app-loading></app-loading>
    }
</div>