@import "variables";
@import "mixins";
@import "components/buttons";

.slider {
    height: 100%;
    display: flex;
    align-items: stretch;
}

.banner {
    border-left: 3px solid darken($primary, 20%);
    border-bottom: 3px solid darken($primary, 20%);
    height: 100%;
    flex-grow: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    transition: flex-grow .3s ease-out;
    cursor: pointer;
    h2 {
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 300;
        color: $white;
        margin-bottom: 0;
        position: absolute;
        z-index: 1;
        background-color: darken($primary, 20%);
        display: block;
        bottom: 0;
        left: 0;
        width: 120px;
        height: 30px;
        transition: all .3s ease-out;
        padding-left: 5px;
        &::after {
            @include pseudo;
            width: 0px;
            height: 0px;
            border: 15px solid transparent;
            border-left-color: darken($primary, 20%);
            border-bottom-color: darken($primary, 20%);
            right: -30px;
            bottom: 0;
            transition: all .3s ease-out;
        }
    }
    &:first-child {
        border-left: 0;
    }
    &:hover {
        flex-grow: 3;
        transition: all .3s ease-out;
        filter: brightness(1.5);
        z-index: 2;
        h2 {
            transition: all .3s ease-out;
            &:after {
                transition: all .3s ease-out;
            }
        }
    }
}