<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="logo">
                    <a href="/">
                        <img src="assets/images/star-wars-logo.svg" class="logo-img" alt="Star Wars Logo">
                    </a>
                </div>
            </div>
            <div class="col-md-8 col-lg-6">
                <nav class="nav-menu">
                    <ul class="menu">
                        @for (item of menu; track $index) {
                            <li class="menu-item">
                                <a class="menu-link" [routerLink]="[item.link]" routerLinkActive="active">
                                    {{item.label}}
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>