<app-page-title background="assets/images/planets/title-background.gif">
    Planets
</app-page-title>

<div class="container">
    @if (planets$ | async; as planets) {
        <div class="list planet-list">
            @for (planet of planets; track $index) {
                <app-planet-card [planet]="planet" [page]="pageControl.page" [index]="$index"></app-planet-card>
            } @empty {
                loading...
            }
        </div>
    } @else {
        <app-loading></app-loading>
    }
</div>